@using THWedB1.Model
@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_LayoutColo.cshtml";
}
@model List<TDanhMucSp>
@for (int i= 1; i <= 10; i++)
{
	<div class="owl-item product_slider_item">
		<div class="product-item">
			<div class="product discount">
				<div class="product_image">
					<img src="@Url.Content("../LayoutColo/images/"+Model[i].AnhDaiDien)" alt="">
				</div>
				<div class="favorite favorite_left"></div>
				<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
				<div class="product_info">
					<h6 class="product_name"><a href="single.html">@Model[i].TenSp</a></h6>
					<div class="product_price">$520.00<span>@Model[i].GiaLonNhat</span></div>
				</div>
			</div>
		</div>
	</div>
}
